body {
    background: rgb(255,0,31);
    background: linear-gradient(90deg, rgba(255,0,31,1) 30%, rgba(197,218,22,1) 50%, rgba(14,235,117,0.9727241238292192) 70%);
}

* {
    box-sizing: border-box;
    font-size: 1.5rem;
}

#app {
    text-align: center;
}

#player {
  
    width: 500px;
    height: 250px;
    float: left;
    margin: 15px;
    

}
#boss {
    float: right;
    border: 2px solid greenyellow;
    width: 500px;
    height: 250px;
    margin: 15px;
}